@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
  background-color: #A52A2A;
  background-blend-mode: color-burn;

  @media (--media-min-small) {
    padding: 2em;
  }
}
