@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
  background-image: url("../images//parksSign404.jpg");
  background-size: cover;
  min-width: 50vw;
  max-width: 100vw;
  min-height: 50vh;
  max-height: 100vh;
  @media (max-width: 750px) {
    display: none;
  }
}





